* {
    background-color: rgb(248, 220, 230);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titles {
    text-align: center;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    background-color: hsl(176, 65%, 81%);
    border-style: dotted;
    margin-left: 15%;
    margin-right: 15%;
    border-color: hsl(210, 70%, 20%);
    border-radius: 10px;
    color: rgb(255, 100, 100);
    -webkit-text-stroke: 2px black;    
}

.sub-titles {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    color: hsl(0, 100%, 80%);
    -webkit-text-stroke: 1px black;
    display: block;
    background-color:hsl(196, 65%, 81%);
    border-style:dashed;
    border-color: hsl(196, 65%, 41%);
    border-radius: 7px;
    margin-left: 40%;
    margin-right: 40%;
}

.normalpara{
    border-style:dotted;
    border-color: hsl(47, 86%, 23%);
    border-radius: 4px;
    border-width: 3px;
    
}

.normalpara, .normalpara strong, .normalpara em {
    background-color: hsl(47, 84%, 85%);
}

.para-index {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    
}

.description {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}


ul {
    padding-left: 0%;
    margin-left: 0%;

    list-style-type: none;
}


.list_recipes {
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    text-align: center;
    background-color: hsl(47, 84%, 85%);
    border-style:ridge;
    border-color: hsl(47, 44%, 65%);
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 4px;
    
}

li a {
    background-color: hsl(47, 84%, 85%);
    color: rgb(94, 17, 17);
}

.ingredients {
    display: block;
    text-align: center;
    list-style-type: none;
    border-style:solid;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 3px;
    background-color: white;
}

.recipe-subtitle {
    text-align: center;
    background-color: rgb(248, 248, 248);
    display: block;
    border-top: dotted;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 7px;

}

.ingredients li, .ingredients li strong {
    background-color: rgb(244, 244, 244);
}

ol {
    display: block;
    list-style:inside;
    list-style-type: disc;
    text-align: justify;
    list-style-type: decimal;
    border-left: dashed;
    border-bottom: dashed;
    border-right: dashed;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

ol, ol li, ol li strong, ol li em {
    background-color: rgb(243, 243, 136)
}

.images {
    display: block;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-style:dashed;
    border-width: 6px;
    border-radius: 10px;

}


#chef {
    border-color: hsl(0, 55%, 79%);
}

#lasagnaPic{
    border-color: hsl(0, 69%, 75%);
    width: auto;
    height: 300px;
}